.footer{
    height: 100px;
    width: 100%;
    background-color:#004346;
    border-top-right-radius: 10px ;
    border-top-left-radius: 10px ;
}
.footer p{
    display: inline;
}
.contacts{
    width: 400px;
    height: max-content;
    float: left;
    margin-top: 25px;
    margin-left: 30px;
    font-family: roboto;
    color: aliceblue;
}
